:root {
  --bg-color: #18181b;
  --color: #ffffff;
  --accent-color: #7acec2;
  --base-font-size: 30px;
}

html,
body {
  color: var(--color);
  background-color: var(--bg-color);
  font-size: var(--base-font-size);
}

a {
  color: var(--color);
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  color: var(--accent-color);
}

ul li {
  list-style: none;
}
